/* start of CSS */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  box-sizing: border-box;
}

/* the color of the webpage */

body {
  background-color: #5BC0BE;
}

/* paragraph/body text formatting */

p {
  font-family: Raleway, sans-serif;
  color: #1C2541;
  font-size: 15px;
}

/* heading text formatting */

h2 {
  font-family: Raleway, sans-serif;
  color: #0B132B;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  color: #0B132B;
  font-style: italic;
}

/* formatting the box that holds all the events */

.container {
  float: right;
  margin-top: 10px;
  MARGIN-RIGHT: 20px;
  background: #F8F8FF;
  border-radius: 10px;
  padding: 30px;
  width: calc(60% - 50px);
  position: relative;
  box-sizing: border-box;
}

.bio {
  float: left;
  margin-top: 10px;
  margin-left:20px;
  background: #F8F8FF;
  border-radius: 10px;
  padding: 35px;
  width: calc(40% - 50px);
  position: relative;
  box-sizing: border-box;
}

/* changing the size of the date */

.content span {
  font-size: 15px;
  font-style: italic;
}

/* formatting where the images will be in the container box */

.image {
  float: right;
  float: center;
  padding-left: 10px;
}

/* formatting the image itself */

img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
 
}

/* making the center line on the page */

.line {
  position: absolute;
  height: 3000px;
  width: 10px;
  background: #3A506B;
  left: 40%;
  top: 20px;
  transform: translateX(-50%);
}