/* start of CSS */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  box-sizing: border-box;
}

/* the color of the webpage */

body {
  background-color: #5BC0BE;
}

/* paragraph/body text formatting */

p {
  font-family: Raleway, sans-serif;
  color: #1C2541;
  font-size: 15px;
}

/* heading text formatting */

h2 {
  font-family: Raleway, sans-serif;
  color: #0B132B;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  color: #0B132B;
  font-style: italic;
}

/* changing the size of the date */

span {
  font-size: 17px;
  font-style: italic;
}

/* formatting the boxes that hold all the events, line 53 adapted from https://www.youtube.com/watch?v=-uzOuGlUfDQ*/

.container {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  background: #F8F8FF;
  border-radius: 10px;
  padding: 30px;
  width: calc(60% - 50px);
  position: relative;
  box-sizing: border-box;
}

/* formatting the box that holds the bio section, line 67 adapted from https://www.youtube.com/watch?v=-uzOuGlUfDQ */

.bio {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  background: #F8F8FF;
  border-radius: 10px;
  padding: 35px;
  width: calc(40% - 50px);
  position: relative;
  box-sizing: border-box;
}

/* formatting where the images will be in the container boxes */

.image {
  float: right;
  padding-left: 10px;
}

.bioimage {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* formatting the image itself */

img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* making the center line on the page */

.line {
  position: absolute;
  height: 572%;
  width: 10px;
  background: #3A506B;
  left: 40%;
  top: 20px;
  transform: translateX(-50%);
}

/* LINES 112 TO 137 ADAPTED FROM https://www.w3schools.com/howto/howto_css_timeline.asp 
took the base code and changed the attributes (color, size, position, etc.) to fit this website better */

/* making the small triangles beside the container and the dots on the line itself, needed guidance */

/* triangles beside content boxes to point at space on the timeline */

.container::before {
  content: " ";
  height: 0;
  position: absolute;
  left: -10px;
  top: 40px;
  width: 0;
  z-index: 1;
  border: medium solid #F8F8FF;
  border-width: 10px 10px 10px 0;
  border-color: transparent #F8F8FF transparent transparent;
}

/* dots beside content boxes to represent space on the timeline */

.container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -41.5px;
  background-color: #3A506B;
  top: 39px;
  border-radius: 50%;
  z-index: 1;
}

/* hiding the images, videos, and text so that it can be loaded in via "onClick" event */

.image {
  visibility: hidden;
}

.video {
  visibility: hidden;
}

#content1 {
  visibility: hidden;
}

#content2 {
  visibility: hidden;
}

#content3 {
  visibility: hidden;
}

#content4 {
  visibility: hidden;
}

#content5 {
  visibility: hidden;
}

#content6 {
  visibility: hidden;
}

#content7 {
  visibility: hidden;
}

#content8 {
  visibility: hidden;
}

#content9 {
  visibility: hidden;
}

#content10 {
  visibility: hidden;
}

#content11 {
  visibility: hidden;
}